body{
    background-image: url(https://tiolas.com/cdn/shop/products/F2323.png?v=1680902596);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}